.container {
  border: 1px solid black;
}

.statistics {
  width: 300px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 20px;
}

.title {
  text-align: center;
}

.list {
  display: flex;
  padding: 0;
}

.label {
  display: block;
}

.item {
  display: block;
  color: #fff;
  padding: 10px 10px;
  border-radius: 10%;
  font-size: 14px;
  text-align: center;
  width: 100%;
  background: #000;
  border: 1px solid #fff;
}
